In [1]:
import pandas as pd

In [7]:
psg_Players = pd.Series(['Navas', 'Mbappe', 'Neymar', 'Messi'],
        index = [1, 7, 10, 30]
        )
psg_Players

1      Navas
7     Mbappe
10    Neymar
30     Messi
dtype: object

## With a dictionary:

In [12]:
dict = {1: 'Navas', 7: 'Mbappe', 10: 'Neymar', 30: 'Messi'}
print(dict)
psgSeries = pd.Series(dict)
print(psgSeries)

{1: 'Navas', 7: 'Mbappe', 10: 'Neymar', 30: 'Messi'}
1      Navas
7     Mbappe
10    Neymar
30     Messi
dtype: object

In [15]:
psg_Players[0:3]

1      Navas
7     Mbappe
10    Neymar
dtype: object

In [22]:
bigDict = {'Player': ['Navas', 'Mbappe', 'Neymar', 'Messi'],
    'Height': [183.0, 170.0, 170.0, 165.0 ],
    'Goals' : [2, 200, 200, 200] 
}
print(bigDict)
psgDataFrame = pd.DataFrame(bigDict)
psgDataFrame

{'Player': ['Navas', 'Mbappe', 'Neymar', 'Messi'], 'Height': [183.0, 170.0, 170.0, 165.0], 'Goals': [2, 200, 200, 200]}

   Player  Height  Goals
0   Navas   183.0      2
1  Mbappe   170.0    200
2  Neymar   170.0    200
3   Messi   165.0    200

In [25]:
print(psgDataFrame.columns)
print(psgDataFrame.index)

Index(['Player', 'Height', 'Goals'], dtype='object')
RangeIndex(start=0, stop=4, step=1)

In [26]:
df_players = pd.DataFrame(bigDict, index = [1, 7, 10, 30])
df_players

    Player  Height  Goals
1    Navas   183.0      2
7   Mbappe   170.0    200
10  Neymar   170.0    200
30   Messi   165.0    200